<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
        <meta name="author" content="Ivan Azhari (Software Engineers of TV Engineering)" />
        <title>{{ title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='assets/images/favicon.ico') }}" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap-icons.css') }}" />
    </head>
    <body class="d-flex flex-column h-100 bg-dark">
        <main class="flex-shrink-0 bg-gradient">
            <header class="bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container px-5">
                        <a class="navbar-brand" href="/">
                            <img src="{{ url_for('static', path='assets/images/sharp-logo.png') }}" alt="Sharp Electronics Indonesia" width="150px;">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <!-- turn into modal -->
                                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#register_product_modal">Register Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logscan-page">Log Scan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            
            <div class="container py-5">
                <section class="vh-100">
                    <div class="row justify-content-center">
                        <div class="container-fluid mt-4">
                            <div class="table-responsive mt-4 mb-4">
                                <table class="table table-bordered align-middle table-hover" style="background-color: aquamarine">
                                    <thead class="bg-light text-center" style="position: sticky;">
                                        <tr>
                                            <th>Item ID</th>
                                            <th>TV Model</th>
                                            <th>Remote Barcode</th>
                                            <th>Carton Barcode</th>
                                            <th>Inserted By</th>
                                            <th>Date Added</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        {% for data in product_lists %}
                                        <tr>
                                            <td>{{ data.item_id }}</td>
                                            <td>{{ data.tv_model }}</td>
                                            <td>{{ data.remote_barcode }}</td>
                                            <td>{{ data.carton_barcode }}</td>
                                            <td>{{ data.insert_by }}</td>
                                            <td>{{ data.date_added }}</td>
                                            <td>
                                                <button class="btn btn-danger" id="button_delete_data" onclick="deleteProduct({{ data.item_id }})">
                                                    <span class="bi bi-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <nav aria-label="Pagination Table">
                                <ul class="pagination justify-content-center">
                                    {% if page > 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="/products-page?pages={{ page - 1 }}&perpage={{ limit }}">Previous</a>
                                        </li>
                                    {% endif %}
                            
                                    {% for page_number in range(1, total_records + 1) %}
                                        <li class="page-item {% if page_number == page %}active{% endif %}">
                                            <a class="page-link" href="/products-page?pages={{ page_number }}&perpage={{ limit }}">{{ page_number }}</a>
                                        </li>
                                    {% endfor %}
                            
                                    {% if page < total_records %}
                                        <li class="page-item">
                                            <a class="page-link" href="/products-page?pages={{ page + 1 }}&perpage={{ limit }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            
                        </div>
                    </div>
                </section>
                <!-- Register Product Modal -->
                <section>
                    <div class="modal fade" id="register_product_modal" tabindex="-1" aria-labelledby="Register Product Modal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Register Product</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="max-height: 480px; overflow-y: auto;">
                                    <form id="register_product_form">
                                        <div class="mt-2">
                                            <label for="tv_model" class="form-label">TV Model Name</label>
                                            <input id="tv_model" class="form-control">
                                        </div>
                                        <div class="mt-2">
                                            <label for="remote_barcode" class="form-label">Remote Barcode</label>
                                            <input id="remote_barcode" class="form-control">
                                        </div>
                                        <div class="mt-2">
                                            <label for="carton_barcode" class="form-label">Carton Barcode</label>
                                            <input id="carton_barcode" class="form-control">
                                        </div>
                                        <div class="mt-2" stlyle="display: none;">
                                            <label for="insert_by" class="form-label">Insert BY</label>
                                            <input id="insert_by" class="form-control" readonly>
                                        </div>
                                        <div class="mt-5 mb-5">
                                            <button class="btn btn-primary" type="submit" style="width: 100%;">Register</button>
                                        </div>
                                        <div class="mb-4">
                                            <p class="text-center" id="result_endpoint_register_product"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        {% include 'include/footer.html' %}
        <script src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', path='js/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <script>
            document.addEventListener("submit", function (event){
                event.preventDefault();
                var tv_model_value = document.getElementById("tv_model").value;
                var remote_barcode_value = document.getElementById("remote_barcode").value;
                var carton_barcode_value = document.getElementById("carton_barcode").value;
                var insert_by_value = "System";
                var result_response = document.getElementById("result_endpoint_register_product");

                var data_payload = {
                    tv_model: tv_model_value,
                    remote_barcode: remote_barcode_value,
                    carton_barcode: carton_barcode_value,
                    insert_by: insert_by_value
                };
                var endpointURL = "/app/resources/api/v1/data/products/add_product";

                fetch(endpointURL, {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(data_payload)
                })
                .then(response => {
                    if (response.status === 200) {
                        window.location.reload();
                    } else {
                        result_response.innerHTML = response.message;
                    }
                    return response.json();
                })
            })
        </script>
        <script>
            function deleteProduct(itemId) {
                var confirmation = confirm("Are you sure you want to delete this product?");
                if (confirmation) {
                    // Define the endpoint URL
                    var endpoint = `/app/resources/api/v1/data/products/delete?item_id=${itemId}`;
        
                    // Create the request headers
                    var headers = new Headers();
                    headers.append("Content-Type", "application/json");
        
                    // Create the request options
                    var options = {
                        method: "DELETE",
                        headers: headers,
                    };
        
                    // Send the DELETE request
                    fetch(endpoint, options)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Failed to delete the product");
                            }
                            // Optionally, handle success response
                            console.log("Product deleted successfully");
                            // You can redirect or update the UI here if needed
                            window.location.reload();
                        })
                        .catch(error => {
                            console.error("Error deleting product:", error.message);
                            // Handle the error, display a message, or log it
                        });
                }
            }
        </script>
    </body>
</html>